<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Admin Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    
        
</head>
<body style="background-image:url(~/images/body.jpg)">
    <form method="post" action="~/Views/Home/register">
<div id="wrapper">
  <div class="headerzone">
    <div class="header">
      <div class="headerText">Online Shopping</div>
      <div class="phone"> +92 300-6918790
        <div class="email"> bsef11a034@pucit.edu.pk </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="topmenu">
      <ul>
       
        <li><a href="~/Views/Home/about">About US</a></li>
        
         
        <li style="border:none;"><a href="contact_us.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  
  <div class="banner">
    <div class="features">
      <h2>Features</h2>
      <div class="featuresText">
        <ul>
          <li>Internet Devices</li>
          <li>Connectivity Devices</li>
          <li>Clothes</li>
        </ul>
      </div>
      <div class="buybutton">
        <input type="image" src="~/images/buynow.jpg" />
      </div>
    </div>
    <div class="clear"></div>
    <div class="bannerText"><span class="blueText">In this website,</span> you can get clothes, mobiles, laptops, printers and other devices and related clothes. The purpose of this website is to provide the better and cheap products to the customers while sitting at home.
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
    </div>
    <h1>Choose any link</h1>
      <div>
    @Html.ActionLink("Add Item", "../Admin/Add") 
     </div>
    <div>@Html.ActionLink("Update Item", "Update") 
     </div><div>@Html.ActionLink("Delete Item", "Delete") 
    </div><div> @Html.ActionLink("View Item", "Viewa")       
   </div><div> @Html.ActionLink("Upload Image", "Upload")       
   </div>
        <!-- <table>
 <tr><td>  <a href="~/Admin/Add">Add Item</a></td></tr>
         <tr><td> <a href="~/Admin/Update">Update Item</a></td></tr>

        <tr>
    <td>
       <a href="~/Admin/Delete">Delete Item</a></td></tr>
      <tr><td>  <a href="~/Admin/Viewa">View All Items</a></td></tr>
  </table>
    -->
  <div class="footer" >
   <div style="color:#00ff21">
      Copyright (c) Bilal Arshad. All rights reserved.
    </div>
 
       </div >
    </div></form>
 </body>
</html>
